.container {
  margin: 0 auto;
  padding: 0 12px;
}

@media (min-width: 1536px) and (max-width: 1537px) { 
  .container { 
    padding: 0px 60px;
  }
} 

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 1px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 0;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
